@font-face {
    font-family: "DejaVu";
    src: url("../assets/font/dejavu-sans/DejaVuSans.ttf");
}

@font-face {
    font-family: "Rey";
    src: url("../assets/font/reey/Reey-Regular.otf");
}

@font-face {
    font-family: "Biyi";
    src: url("../assets/font/magic_pies/Magic-Pies.otf");
}

@font-face {
    font-family: "brush";
    src: url("../assets/font/expedition/CFExpedition-Regular.ttf");
}

.splide__arrow{
    background: lightseagreen;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

.text-important{
    color: gold;
}

.color-span{
    color:gold ;
}

/*NAV*/

nav{
    width: 100%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: 0.5s;
    transition-duration: 0.5s;
    z-index: 999;
}
#section-nav-1{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
#section-nav-1 ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-family: sans-serif;
    margin: 0;
}

#section-nav-1 ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(100%/7);
    height: 100%;
}

#section-nav-1 ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    transition-duration: .5s;
}

#section-nav-1 ul li a:hover{
    background-color: rgba(255,215,0,0.5);
}

.nav-bar-scrolled #section-nav-1 ul li a{
    color: black;
}

.nav-bar-scrolled #section-nav-1 ul li a:hover{
    background-color: rgba(218,165,32,0.5);
}

/* //////////////////// Nav bar scrolled effect*/
nav.nav-bar-scrolled{
    height: 40px;
    background: gold;
}


/* NAV END*/

/*INTRO*/

#background-intro{
    height: 100vh;
    width: 100%;
    background-image: url("../assets/img/background-intro.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title-biyi{
    /*display: none;*/
    width: 600px;
    margin: 0 auto;
    padding: 25vh  0 0 0;
    color: black;
}

#wrapper-title{
    padding: 16px;
    /*background-color: rgba(0, 94, 124, 0.4);*/

}


#title-intro h1, #title-intro h3{
    margin-top: 0;
    font-family: Brush,Rey,Arial,sans-serif;
    color: white;
}

#title-intro h1{
    font-size: 113px;
    margin-top: -30px;
    margin-bottom: 10px;
}

#title-intro h3{
    margin-bottom: 0;
    font-size: 40px;
}

#title-biyi p{
    margin: 0 0 0 0;
    color: black;
    font-size: 30px;
    text-align: center;
    font-family:  sans-serif;
    font-weight: bold;

}

#button-intro{
    width: 250px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin: 150px auto 0 auto;
    font-size: 20px;
    font-family: sans-serif;
    border: 0;
    background-color: gold;
    cursor: pointer;
    /*font-weight: 500;*/
    transition: .5s;
    transition-duration: .5s;

}
#button-intro:visited{
    border: 0;
}

#button-intro:hover{
    transform: translate3d(0, -1px,0) scale(1.04);
    box-shadow: 0 0 20px gold;
}



/*INTRO END*/

/* Section The Game */
.section-slide{
    width: 100%;
    height: auto;
    display: list-item;
    background-color: #FFF5EE;
}

.wrapper-section{
    /*margin-bottom: 50px;*/
}

.title-game{
    font-family: Brush,Rey,sans-serif;
    font-size: 80px;
    margin: 0 0 0 100px;
}

.title-game:first-child{
    padding-top: 80px;

}

.title-game:not(:first-child){
    margin-top: -10px;
}

.content-slide-section{
    display: flex;
    flex-wrap: wrap;
}

.all-article{
    max-width: 420px;
    margin: 40px 0 50px 100px;
    /*box-shadow: 0 0 10px 5px lightgray;*/
    border-radius: 10px;
    transform: translate3d(0, -1px,0) scale(1.04);
    border: 1px solid transparent;


}

.all-article p {
    margin: 16px 16px 16px 0;
    font-family: Calibri,sans-serif;
    font-size: 18px;
    line-height: 35px;
}

.slide-wrapper{
    /*position: relative;*/
    margin: -90px 0 0 0;


}

.splide__track{
    border-radius: 10px;
    margin-bottom: 50px;
}

.spacin-article{
    width: 10vh;
}



@media screen and (min-width: 1500px){
    .spacin-article{
        width: 25vh;
    }

}


/* Section The Game End*/





/* Section How To Play*/

#section-play{
    /*background-image: url("../assets/img/background-play.jpg");*/
    /*background-attachment: fixed;*/
    /*background-repeat: repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    background-color: #FFF5EE;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: auto;
    width: 100%


}

#foreground-play{
    width: 96%;
    height: 100%;
    background: #FFF5EE;
    margin: 150px 0 150px 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    /*border: 5px solid #B49C5E;*/
    border-right: none ;
}

.title-play{
    font-family: Brush,sans-serif;
    font-size: 80px;
    margin: 25px 0 0 25px;
}

#text-play{
    font-family: sans-serif;
    line-height: 30px;
    font-size: 18px;
    margin: 25px 0 0 25px;
    max-width: 90%;
}

.content-buttons-play{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 50px;
}

.buttons-play{
    /*border: 1px solid black;*/
    height: 150px;
    width: 150px;
    padding: 40px 25px 25px 25px;
    margin: 16px;
    border-radius: 5px;
    background-color: #B49C5E;
    box-shadow: 0 9px 10px -5px grey;
    cursor: pointer;
    transition: .8s;
    transition-duration: .8s;
}

.buttons-play i{
    margin-left: 25%;
    margin-right: 25%;
}

.buttons-play p {
    text-align: center;
    border: 2px solid white;
    z-index: 5;
    transform: translateY(20px);
    /*background: white;*/
    border-radius: 5px;
    background-color: #B49C5E;
    padding: 5px 10px 5px 10px;
    width: 100%;
    font-family: sans-serif;
    font-size: 13px;
    box-shadow: 0 10px 10px -5px grey;
    transition: .5s;
    transition-duration: .5s;
    color: white;
    /*border-top-color: white;*/
    /*border-left-color: white;*/
    /*border-right-color: white;*/
}

#button-download{
    margin-left: 50px;
}



.buttons-play:hover{
    transform: translate3d(0, -1px,0) scale(1.08);
    background-color: gold;
}


.spacing-play{
    width: 5vw;
}

.content-link-play{
    width: 50%;
}

.links-play{
    margin-top: 16px;
}
.link-icon{
    padding-right: 15px;
}

.links-play a{
    width: 100%;
    border: 1px solid transparent;
    float: right;
    padding: 20px 35px 20px 35px;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #B49C5E;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    box-shadow: 0 10px 10px -5px grey;
    transition: .5s;
    transition-duration: .5s;
}

.links-play:not(:first-child) a{
    margin-top: 35px;
}

.links-play a:hover{
    background-color: gold;
}

/*Section How To Play End*/


/* Interlude */

.interlude{
    width: 100%;
    height: 30vh;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
}

#interlude1{
    background-image: url("../assets/img/interlude1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#interlude2{
    background-image: url("../assets/img/interlude3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#interlude3{
    background-image: url("../assets/img/interlude2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Interlude END*/





/* the Legend*/

#section-legende{
    width: 100%;
    height: auto;
    background: seashell;
}

#slide2-position{
    margin-top: 90px;
}

#content-legende-text{
    width: 55%;
}

#button-bd{
    margin: auto auto auto auto;
    background-image: url("../assets/img/button-manga.jpg");
    background-size: cover;
    border-radius: 50%;
    padding: 80px;
    border: 5px solid black;

}

#button-bd p {
    font-size: 35px;
    font-weight: bold;
    border: 3px solid white;
    padding: 16px;
    font-family: sans-serif;
    background-color: rgba(0,0,0,0.5);
    transition: .5s;
    transition-duration: .5s;
}
#button-bd p:hover{
    background-color: black;
}

#button-bd:first-child:first-child:hover{
    background-color: black;
}

#warpper-text-button-bd{
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*#button-bd .buttons-play, #button-bd .buttons-play p{*/
/*    background-color: transparent;*/
/*    box-shadow: none;*/
/*}*/
/*#button-bd .buttons-play p {*/
/*    !*margin-top: -300px;*!*/
/*    !*color: black;*!*/
/*    border: 3px solid black;*/
/*    background-color: rgba(0, 0, 0, 0.5);;*/
/*    color: whitesmoke;*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*}*/

/*#button-bd .buttons-play i {*/
/*    color: black !important;*/
/*    display: none;*/
/*}*/


#icon-bd{
    margin: auto;
    padding-left: 13%;
}

#legende-text{
    max-width: 100%;
    overflow-y: scroll;
    max-height: 400px;
    border-radius: 0;

}

#legende-text::-webkit-scrollbar{
    height: 3px;
    width: 7px;
    /*border-radius: 5px;*/
    border: 1px solid lightgray;
    background-color: seashell;
    float: left;

}
#legende-text::-webkit-scrollbar-thumb:vertical{
    background-color: gold;
    /*border-radius: 5px;*/
    width: 7px;
    /*box-shadow: 5px 5px 10px grey;*/
    cursor: pointer;
}

#legende-text::-webkit-scrollbar-thumb:horizontal:hover{
    background-color: goldenrod;
}

#legende-text p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 30px;
}

#legende-text:not(:first-child){
    margin-left: 20px;
}

/*The Legend end*/


/* Biyigames studio section*/

#slide3-position{
    margin-top: -50px;
}

/* Biyigames studio section END*/


/*Thanks sections*/

#section-thanks{
    height: auto;
    width: 100%;
    background-color: seashell;
}

#wrapper-thanks-box{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.thanks-box{
    padding: 5px 16px 5px 16px;
    margin: 50px auto 0 auto;
    max-width: 40%;
    border-left: 5px solid #975C52;

}

.thanks-box p{
    line-height: 25px;
    font-size: 18px;
    font-family: sans-serif;
}

#thank-box-main{
    max-width: 90%;
    margin: 50px auto 0 auto;

}

.thanks-important{
    font-size: 20px;
    font-weight: bold;
    color: #975C52;
}


#nom-thanks{
    padding-top: 30px;
    font-size: 25px;
}

/* THANKS END*/



/* Parteners*/

#section-partners{
    height: auto;
    width: 100%;
    background-color: seashell;
}

.wrapper-partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}


.box-partners{
    width: 250px;
    height: 250px;
    border: 1px solid #181818;
    margin: 80px 10px 80px 10px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    /*border-radius: 10px;*/
}

.box-partners img{
    object-fit: scale-down;
    /*margin-top: 25%;*/
    width: 100%;
    /*border-radius: 10px;*/
}

.ludendi-logo img{
    margin-top: 25%;
}

.kudos-logo img{
    margin-top: 30%;
    width: 90%;
}



/* Contact Section*/

#contact-section{
    width: 100%;
    height: auto;
    color: white;
    background-color: 	#181818;
}

#button-go-intro{

    width: 70px;
    height: 60px;
    background-color: gold;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    color: white;
    cursor: pointer;
}

#contact-title{
    margin-left: 100px;
    font-family: sans-serif;
    font-size: 25px;
}

#wrapper-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
}

#contact-button-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    /*max-width: 30%;*/
    margin-right: 10vw;
}

#contact-link ul{
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

#contact-link ul li{
    margin-top: 15px;
    font-family: sans-serif;
}

.button-contact{
    width: 50px;
    height: 50px;
    background-color: #181818;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin: 16px 0 16px 0;
    transition: .5s;
    transition-duration: .5s;
}

#contact-button-links a button:hover:first-child{
    background-color: rgba(255,215,0,0.5);
}


.wrapper-button-contact{
    text-align: center;
}

/* Contact Section END*/






#copyright{
    text-align: center;
    margin: 0;
}

#copyright p{
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: gold;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;

}









/*Togle nav*/

.toggle-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 80px;
    width: 80px;
    background-color: transparent;
    margin-left: 20px;
    transition: all .5s ease-in-out;
}

.btn_burger{
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.btn_burger::before, .btn_burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.btn_burger::before{
    transform: translateY(-16px);
}

.btn_burger::after{
    transform: translateY(16px);
}

.toggle{
    display: none;
}

.toggle-content.nav-bar-scrolled{
    height: 40px;
    width: 40px;
}

.btn_burger.nav-bar-scrolled{
    width: 30px;
    height: 3px;
}

.btn_burger.nav-bar-scrolled::before, .btn_burger.nav-bar-scrolled::after{
    width: 30px;
    height: 3px;
}

.btn_burger.nav-bar-scrolled::before{
    transform: translateY(-10px);
}

.btn_burger.nav-bar-scrolled::after{
    transform: translateY(10px);
}


.toggle-content.open .btn_burger{
    transform: translateX(-50px);
    background: transparent;
}

.toggle-content.open .btn_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.toggle-content.open .btn_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

/*Toggle NAV*/

.toggle-nav{
    width: 100%;
    height: 0;
    background: gold;
    position: fixed;
    top: 0;
    z-index: 998;
    display: list-item;
    list-style: none;
    justify-content: space-between;
    transition: .5s;
    transition-duration: .5s;

}

.toggle-section-1, .toggle-section-2{
    margin: 120px 0 20px 30px;
    opacity: 0;
    transform: translateX(-1000px);
    transition: 1.3s;
    transition-duration: 1.8s;
    width: 500px;
}

.toggle-section-1 ul li , .toggle-section-2 ul li {
    margin-top: 30px;
    width: 300px;
    list-style: none;
    font-size: 30px;
}


.toggle-nav.open-toggle{
    height: 100vh;
    width: 100%;
    display: list-item;
}

.translate-tog{
    transform: translateX(0);
    opacity: 100;
}


